* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: url("https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000031494/3c3cfdb5975924db2352d4b4abdab9efaa54caa79f3b61b1604c4dc025b73da7");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: blue;
}

.machine-score span {
    color: red;
}